<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951809059222-6pho81tilj020bb7mou19htamq0t1t6q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951809059222-6pho81tilj020bb7mou19htamq0t1t6q</string>
	<key>API_KEY</key>
	<string>AIzaSyAD-qdYU5IPNFyZoFeMLYlxy-bYU2LWv0s</string>
	<key>GCM_SENDER_ID</key>
	<string>951809059222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.videoRecordUpload</string>
	<key>PROJECT_ID</key>
	<string>bingbong-7edf4</string>
	<key>STORAGE_BUCKET</key>
	<string>bingbong-7edf4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951809059222:ios:99f62d0de6cb0011ad15b7</string>
</dict>
</plist>